@tailwind base;
@tailwind components;
@tailwind utilities;  

/* di src/index.css, setelah @tailwind base/components/utilities */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
} */